<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Implementación SRI Volantes</span>
    <span class="example-spacer"></span>
<button mat-icon-button matTooltip="Enviar correo electrónico" [routerLink]="['/envio-email']">
      <mat-icon aria-label="Enviar correo electrónico">email</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Imprimir volante" [routerLink]="['/impresion-volante']">
      <mat-icon aria-label="Imprimir">print</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
