/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.col-3,.col-6,.col-12 {
  padding: 0 .5em;
}

.col-3 {
  width: 25%;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

.mat-list-item {
  border-bottom: 1px solid #fff;
}

.mat-card-header {
  border-bottom: 1px solid #fff;
  margin-bottom: 1em !important;
}

.mat-card-header-text {
  margin: 0 !important;
}

.mat-list-item {
  height: 90px !important;
}


