<mat-progress-bar mode="indeterminate" *ngIf="formDisable"></mat-progress-bar>

<div class="row" [ngClass]="{'disable-form': formDisable}">
  <form [formGroup]="infoForm" class="col-6" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Información de impresion</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Código de la propiedad" formControlName="codigo">
              <mat-error *ngIf="infoForm.controls['codigo'].hasError('required')">
                Campo obligatorio
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="URL imagen de cabecera" formControlName="imgHeader">
              <mat-error *ngIf="infoForm.controls['imgHeader'].hasError('required')">
                Campo obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Titulo de la propiedad" formControlName="titulo">
              <mat-error *ngIf="infoForm.controls['titulo'].hasError('required')">
                Campo obligatorio
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Ubicación" formControlName="ubicacion">
              <mat-error *ngIf="infoForm.controls['ubicacion'].hasError('required')">
                Campo obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Precio propiedad" formControlName="precio">
              <mat-error *ngIf="infoForm.controls['precio'].hasError('required')">
                Campo obligatorio
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Área" formControlName="area">
              <mat-error *ngIf="infoForm.controls['area'].hasError('required')">
                Campo obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Nro.Habitaciones" formControlName="habitaciones">
              <mat-error *ngIf="infoForm.controls['habitaciones'].hasError('required')">
                Campo obligatorio
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Nro.Baños" formControlName="banos">
              <mat-error *ngIf="infoForm.controls['banos'].hasError('required')">
                Campo obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Areas comunes (Separado por coma)" formControlName="areas">
              <mat-error *ngIf="infoForm.controls['areas'].hasError('required')">
                Campo obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Nro.Parqueaderos" formControlName="parqueaderos">
              <mat-error *ngIf="infoForm.controls['parqueaderos'].hasError('required')">
                Campo obligatorio
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Valor administración" formControlName="administracion">
              <mat-error *ngIf="infoForm.controls['administracion'].hasError('required')">
                Campo obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Valor predial" formControlName="predial">
              <mat-error *ngIf="infoForm.controls['predial'].hasError('required')">
                Campo obligatorio
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Caracteristicas" formControlName="caracteristicas">
              <mat-error *ngIf="infoForm.controls['caracteristicas'].hasError('required')">
                Campo obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="URL imagen asesor" formControlName="imgAsesor">
              <mat-error *ngIf="infoForm.controls['imgAsesor'].hasError('required')">
                Campo obligatorio
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Nombre asesor" formControlName="nombreAsesor">
              <mat-error *ngIf="infoForm.controls['nombreAsesor'].hasError('required')">
                Campo obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Frase del asesor" formControlName="fraseAsesor">
              <mat-error *ngIf="infoForm.controls['fraseAsesor'].hasError('required')">
                Campo obligatorio
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Teléfono Asesor" formControlName="telefonoAsesor">
              <mat-error *ngIf="infoForm.controls['telefonoAsesor'].hasError('required')">
                Campo obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Correo asesor" formControlName="correoAsesor">
              <mat-error *ngIf="infoForm.controls['correoAsesor'].hasError('required')">
                Campo obligatorio
              </mat-error>
            </mat-form-field>
          </div>

        </div>

      </mat-card-content>

    </mat-card>
  </form>


  <form [formGroup]="imagenesForm" class="col-6" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Imagenes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-form-field class="full-width">
              <input matInput placeholder="Imagen #1" formControlName="img1">
              <mat-error *ngIf="imagenesForm.controls['img1'].hasError('required')">
                La imagen es obligatoria
              </mat-error>
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field class="full-width">
              <input matInput placeholder="Imagen #2" formControlName="img2">
              <mat-error *ngIf="imagenesForm.controls['img2'].hasError('required')">
                La imagen es obligatoria
              </mat-error>
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field class="full-width">
              <input matInput placeholder="Imagen #3" formControlName="img3">
              <mat-error *ngIf="imagenesForm.controls['img3'].hasError('required')">
                La imagen es obligatoria
              </mat-error>
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field class="full-width">
              <input matInput placeholder="Imagen #4" formControlName="img4">
              <mat-error *ngIf="imagenesForm.controls['img4'].hasError('required')">
                La imagen es obligatoria
              </mat-error>
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field class="full-width">
              <input matInput placeholder="Imagen #5" formControlName="img5">
              <mat-error *ngIf="imagenesForm.controls['img5'].hasError('required')">
                La imagen es obligatoria
              </mat-error>
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field class="full-width">
              <input matInput placeholder="Imagen #6" formControlName="img6">
              <mat-error *ngIf="imagenesForm.controls['img6'].hasError('required')">
                La imagen es obligatoria
              </mat-error>
            </mat-form-field>
          </mat-list-item>

        </mat-list>
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-raised-button color="primary" type="submit" [disabled]="infoForm.invalid || imagenesForm.invalid">Imprimir</button>
      </mat-card-actions>

    </mat-card>

  </form>

</div>
